.event-carousel {
    .list-inline {
        white-space:nowrap;
        overflow-x:auto;
    }

    .carousel-indicators {
        position: static;
        margin: 0;
        height: 160px;
        display: block;

        & > li {
            width: 200px;
            text-indent: initial;
            margin: 0 4px;

            &.active {
                img {
                    opacity: .6;
                    border: 1px solid rgba(0, 0, 0, .3);
                }
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        transition: all .2s ease;

        &:hover {
            background: rgba(0, 0, 0, .05);
        }
    }
}
